@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

input {
  border-radius: 5px;
  font-size: 16px; /* Adjusted font size */
  padding: 5px 10px;
}

@media (max-width: 768px) {
  img {
      display: none;
  }
}

.topNav {
  max-height: 3.5rem; /* Adjusted max height */
  background: linear-gradient(315deg, rgba(255, 255, 255, 1) 0%, rgba(103, 81, 215, 1) 100%);
  background-repeat: no-repeat;
  font-family: 'Open Sans Bold', sans-serif;
}

/* responsive navbar starts */

.navbar-list {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(315deg, rgba(255, 255, 255, 1) 0%, rgba(103, 81, 215, 1) 100%);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 4;
  overflow: hidden;
  overflow-y: auto;
  animation: slideIn 0.3s ease-in-out;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.navbar-list-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  transition: background 0.3s ease, opacity 0.3s ease;
}

.navbar-list ul {
  list-style: none;
  padding: 50px; /* Adjusted padding */
  padding-top: 100px; /* Adjusted padding */
}

.navbar-list a {
  text-decoration: none;
  color: #6751d7;
  font-size: 12px; /* Adjusted font size */
  display: block;
  margin-bottom: 30px; /* Adjusted margin */
  transition: color 0.3s ease;
  font-weight: bold;
  padding-bottom: 5px; /* Adjusted padding */
}

.navbar-button:hover{
  color: #050505;
  transform: translate(0, -4px);
  transition: 3ms ease-out;
}

.navbar-button:active{
  color: #050505;
}

/* responsive navbar ends */

.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  background: rgba(255, 255, 255, 0.89);
  backdrop-filter: saturate(180%) blur(10px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);
  height: 4vh; /* Adjusted height */
  position: relative;
  z-index: 5;
}

.navbar-icon {
  display: none;
  font-size: 1.2em; /* Adjusted font size */
  color: #050505;
  cursor: pointer;
}

.resLogin {
  display: none;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 50px; /* Adjusted height */
  color: white;
}

nav ul li {
  padding: 0 8px; /* Adjusted padding */
}

.loginBtn {
  display: flex;
  padding: 5px 10px; /* Adjusted padding */
  text-decoration: none;
  background-color: #6751d7;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Adjusted margin */
  font-family: Helvetica;
  font-weight: normal;
  margin-left: auto;
  white-space: nowrap;
  transition: transform ease 300ms;
  font-size: 13px;
}

.loginBtninside {
  display: block;
  width: auto;
  padding: 5px 10px; /* Adjusted padding */
  text-decoration: none;
  background-color: #6751d7;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: Helvetica;
  font-weight: 200;
  margin-left: auto;
  margin-right: 10px; /* Adjusted margin */
}

.loginBtn:hover{
  color: #050505;
  transition: transform ease 300ms;
}

a {
  text-decoration: none;
}

.navbar-button {
  display: flex;
  padding: 8px 15px; /* Adjusted padding */
  text-decoration: none;
  color: #6751d7;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px; /* Adjusted font size */
  white-space: nowrap;
  transition: transform ease 300ms;
}

.navbar-button.clicked {
  color: #000; /* Set the color to black */
}

/* Bar below the text */
/* .navbar-button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px; /* Adjusted height */
  /* background-color: #6751d7;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  border-radius: 2px 2px 0 0;
} */ 

/* Active state - Bar is visible */
.navbar-button:hover::after,
.navbar-button.active::after {
  transform: scaleX(1);
}

.navbar-button:hover {
  transition: .4s;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-icon, .resLogin {
      display: block;
  }

  .navbar-content {
      position: absolute;
      top: 50px;
      right: 10px;
      background-color: #3498db;
      width: 100%;
      z-index: 1;
      border-radius: 0 0 5px 5px;
      display: none;
      transition: transform 0.3s ease, height 0.3s ease;
  }

  .navbar-content.show {
      transform: translateY(0);
      height: 100%;
  }

  .navbar-content.responsive {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      transition: transform 0.3s ease;
  }

  .navbar-content.responsive.show {
      transform: translateY(0) scaleY(1);
  }

  .navbar-button.responsive {
      display: block;
      padding: 8px; /* Adjusted padding */
      color: #fff;
      text-align: right;
  }

  .navbar-button.responsive.active {
      background-color: #6751d7;
  }

  /* Adjust font size for smaller screens */
  .navbar-content.responsive ul li {
      font-size: 10px; /* Adjusted font size */
  }

  /* Additional styles to make sure .navbar-content overlays on navigation bar */
  .topNav {
      position: relative;
  }

  nav ul {
      position: relative;
      z-index: 2;
  }
}

@media (max-width: 768px) {
  .resLogin {
      display: none;
  }
}

@media (max-width: 768px) {
  .navbar-list {
      width: 100%;
      transition: transform 0.3s ease-in-out;
      transform: translateX(100%);
  }
}

/* Show and hide styles for the navbar list */
.navbar-list.active {
  display: block;
  transform: translateX(0);
}

.navbar-list-overlay.active {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  display: block;
}
