@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
}

/* .topNav {
  display: flex;



  backdrop-filter: saturate(180%) blur(10px);
  
  position: relative;
  overflow: hidden;
  font-family: 'Open Sans Bold', sans-serif;
} */

nav{
  width: 100vw;
  background: rgba(255, 255, 255, 0.89);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);
  display: flex;
  position: fixed;
    align-items: center;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  top: 0;
  z-index: 10;
}

.logo {
  width: 80px;
  margin: 0;
  padding-top: 5px;
}

/* Responsive navbar starts */

.navbar-button:hover {
  color: #050505;
  transform: translate(0, -4px);
  transition: 3ms ease-out;
}

.navbar-button:active {
  color: #050505;
}

/* Responsive navbar ends */

.row {
  width: 80%;
  margin: auto;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-icon {
  display: none;
  font-size: 1.2em;
  color: #050505;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 50px;
  color: white;
}


nav ul li {
  padding: 0 8px;
}

.loginBtn {
  display: flex;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #6751d7;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  font-family: Helvetica;
  font-weight: normal;
  margin-left: auto;
  white-space: nowrap;
  transition: transform ease 300ms;
  font-size: 13px;
}

.loginBtninside {
  display: block;
  width: auto;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #6751d7;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: Helvetica;
  font-weight: 200;
  margin-left: auto;
  margin-right: 10px;
}

.loginBtn:hover {
  color: #050505;
  transition: transform ease 300ms;
}

a {
  text-decoration: none;
}

.navbar-button {
  display: flex;
  padding: 8px 15px;
  text-decoration: none;
  color: #6751d7;
  position: relative;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
  transition: transform ease 300ms;
}

.navbar-button.clicked {
  color: #000;
}

.navbar-button:hover::after,
.navbar-button.active::after {
  transform: scaleX(1);
}

.navbar-button:hover {
  transition: .4s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}


/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:4px;
  background: #6751d7;
  margin: 5px;
  transition: all 0.3s ease;
  border-radius: 4px;
}
.hamburger{
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    z-index: 1;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  /* .navbar-content {
    display: flex;
    position: relative;
    background: #7b8dd8;
    height: 100vh;
    width: 100%;
    flex-direction: column;

    transition: all 1s ease-out;
    pointer-events: none;
  } */

  .navbar-content {
    display: block;
    position: fixed;
    top: 0;
    right: 0; /* Set right instead of left */
    width: 50%;
    height: 100%;
    background: #6751d7;
    flex-direction: column;
    clip-path: ellipse(25% 50% at 100% 0%);
    -webkit-clip-path: ellipse(45% 20% at 100% 0%);
    transition: all 1s ease-in-out;
    pointer-events: none;
    opacity: 0;
  }

  .navbar-content li a{
    left: 12rem;
    top: 3rem;
    font-size: larger;
  }

  .loginBtn{
    display: block;
    position: relative;
    margin-left: 1rem;
    background-color: #fff;
    color: #6751d7;
    width: 14.5rem;
    font-weight: bold;
    margin-top: 3px;
  }

  .loginBtn:hover{
    transform: rotate(-2deg);
  }

  .navbar-content.open {
    clip-path: ellipse(400px 300px at 100% -10%);
    -webkit-clip-path: ellipse(300px 500px at 100% -10%);
    pointer-events: all; /* Add this line */
    opacity: 1;

  }

  .navbar-button{
    color: #fff;
  }

  .navbar-content li {
    opacity: 0;
  }

  .navbar-content li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .navbar-content li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .navbar-content li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .navbar-content li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .navbar-content li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .navbar-content li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .navbar-content li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
  background: #fff;
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
  background: #fff;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
  background: #fff;
}

@media (min-width: 1440px) {
  .navbar{
    right: 0;
    margin-right: 26rem;
  }
}