@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.2;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      background-color: #efeef0;
}

.landing-page{
  height:75vh;
}

.text-center {
  text-align: center;
}

.carousel-slider {
  position: relative;
  margin: 10px;
  align-items: center;
  justify-content: center;

}

#slider {
  position: flex;
  width: 60%;
  height: 63vh;
  margin: 5rem auto;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type=radio] {
  appearance: none;
  border-radius: 50%;
  position: relative;
  top: 108%;
  left: 49%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
  background-color: #000;
}


input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 1;
  background-color: #6751D7;
  border-color: #6751D7;
}

@media (max-width: 768px) {
  input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    margin: 0 10px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
  #prevBtn {
    left: 40%;
  }
  
  #nextBtn {
    right: 40%;
  }
}

.arrow-wrapp {
  position: absolute;
  top: 110%;
  transform: translateY(-50%);
  cursor: pointer;
}

#prevBtn {
  left: 36%;
}

#nextBtn {
  right: 36%;
}

@media (max-width:1000px) {
  #prevBtn {
    left: 34%;
  }
  
  #nextBtn {
    right: 34%;
  }
}


#slider label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#slide1 {
  background-image: url("1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide2 {
  background-image: url("2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide3 {
  background-image: url("3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide4 {
  background-image: url("4.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide5 {
  background-image: url("5.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(15%, 0, -100px);
  filter: blur(3px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(30%, 0, -250px);
  filter: blur(3px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-30%, 0, -250px);
  filter: blur(3px);
}

/* Previous Slide */
#s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-15%, 0, -100px);
  filter: blur(3px);
}

/* chatbot-icon.css */

.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; /* Set your desired background color */
  color: #ffffff; /* Set your desired text color */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chatbot-icon ion-icon {
  font-size: 24px; /* Set your desired icon size */
}

/* heading 1 content */

.container-heading-1{
  background-color: #ffffff;
}

.heading-1-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
}

.heading-1-content {
  flex: 1; 
  margin-right: 20px;
  margin-left: 5rem;
}

.heading-1-image-content img {
  height: auto;
  border-radius: 8px; /* Optional: add rounded corners to the image */
  width: 40rem;
  margin-left: 15rem;
  margin-right: 5rem;
}

.heading-1-content p {
  font-size: 15px;
}

@media (max-width: 1250px) {
  .heading-1-image-content img {
    height: auto;
    border-radius: 8px; /* Optional: add rounded corners to the image */
    width: 40rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (max-width: 1000px) {
  .heading-1-image-content img {
    height: auto;
    border-radius: 8px; /* Optional: add rounded corners to the image */
    width: 35rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .heading-1-content {
    flex: 1; 
    margin-right: 20px;
    margin-left: 0rem;
  }
}

@media (max-width: 768px) {

  .heading-1-content-wrapper {
    display: relative;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
  }

  .heading-1-content {
    flex: 1; 
    margin-right: 0px;
    margin-left: 0rem;
    max-width: 50%;
  }

  .heading-1-image-content img {
    height: auto;
    border-radius: 8px; 
    margin-left: 0rem;
    margin-right: 0rem;
    width: 25rem;
  }

}

@media (min-width: 1440px){
  .heading-1-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
  }
  
  .heading-1-content {
    flex: 1; 
    margin-right: 5rem;
    margin-left: 5rem;
  }
  
  .heading-1-image-content img {
    height: auto;
    border-radius: 8px; /* Optional: add rounded corners to the image */
    width: 40rem;
    margin-left: 0rem;
  }
  
  .heading-1-content p {
    font-size: 15px;
  }
}


/* service container */

.service-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #eeeeee;
  padding: 3rem;
}

.service-image-row {
  display: flex;
  justify-content: space-between;
  margin: 6rem;
}

.image-item {
  text-align: center;
}

.circular-image {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #b4a7f3;
}

/* Optional: Add some styling for the text */
.image-item p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
 
}



/* testimonials styling start */

@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");


button,
input,
select {
	font-family: inherit;
	font-size: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 12px;
}

.testimonials {
		color: #000;
	font-family: "Shippori Antique", sans-serif;
	height: 70vh;
	display: grid;
	place-items: center;
  margin-top: 2rem;
  background-color: #ffffff;
}

.content-wrapper {
	height: 100%;
	width: 70%;
	max-width: 100rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}

h1 {
	margin-bottom: calc(0.7rem + 0.5vmin);
	font-size: calc(2.3rem + 1vmin);
}

.testimonials h1 span{
  border-bottom: 2px solid black;
  padding-bottom: 10px; /* Adjust the padding as needed */
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.wrapper-for-arrows {
	position: relative;
	width: 70%;
	border-radius: 2rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	overflow: hidden;
	display: grid;
	place-items: center;
}

.review-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: calc(2rem + 1vmin);
	width: 100%;
  background-color: #fafafa;
}

#imgDiv {
	border-radius: 50%;
	width: calc(6rem + 4vmin);
	height: calc(6rem + 4vmin);
	position: relative;
	box-shadow: 5px -3px #b4a7f3;
	background-size: cover;
	margin-bottom: calc(0.7rem + 0.5vmin);
}


#imgDiv::after {
	content: "''";
	font-size: calc(2rem + 2vmin);
	font-family: sans-serif;
	line-height: 150%;
	color: #fff;
	display: grid;
	place-items: center;
	border-radius: 50%;
	background-color: #6751D7;
	position: absolute;
	top: 10%;
	left: -10%;
	width: calc(2rem + 2vmin);
	height: calc(2rem + 2vmin);
}

#personName {
	margin-bottom: calc(0.7rem + 0.5vmin);
	font-size: calc(1rem + 0.5vmin);
	letter-spacing: calc(0.1rem + 0.1vmin);
	font-weight: bold;
}

#profession {
	font-size: calc(0.8rem + 0.3vmin);
	margin-bottom: calc(0.7rem + 0.5vmin);
	color: #6751D7;
  font-weight: bold;
}

#description {
	font-size: calc(0.8rem + 0.3vmin);
	width: 70%;
	max-width: 40rem;
	text-align: center;
	margin-bottom: calc(1.4rem + 1vmin);
	color: rgb(92, 92, 92);
	line-height: 2rem;
  min-height: 10rem;
  max-height: 16rem;
  overflow: auto;
}

.surprise-me-btn {
	border: 2px solid rgb(79, 143, 226);
	background-color: rgb(224, 238, 255);
	color: rgb(79, 143, 226);
	border-radius: 2rem;
	padding: calc(0.5rem + 0.2vmin) 0;
	width: calc(14rem + 8vmin);
	text-align: center;
	transition: background-color 0.3s, transform 0.3s;
	cursor: pointer;
	margin-bottom: calc(1.4rem + 1vmin);
}

.surprise-me-btn:hover {
	transition: background-color 0.3s, transform 0.3s;
	background-color: rgb(255, 255, 255);
}

.arrow-wrap {
	position: absolute;
	top: 50%;
}

.arrow {
	width: calc(1.4rem + 0.6vmin);
	height: calc(1.4rem + 0.6vmin);
	border: solid #6751D7;
	border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
	cursor: pointer;
	transition: transform 0.3s;
}

.arrow:hover {
	transition: 0.3s;
	transform: scale(1.15);
}

.left-arrow-wrap {
	left: 5%;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.right-arrow-wrap {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 5%;
}

.move-head {
	animation: moveHead 1.55s infinite;
	animation-delay: -0.8s;
}

.hide-chicken-btn {
	border: 2px solid rgb(226, 89, 79);
	background-color: rgb(255, 224, 224);
	color: rgb(226, 79, 79);
	border-radius: 2rem;
	padding: calc(0.5rem + 0.2vmin) 0;
	width: calc(10rem + 5vmin);
	text-align: center;
	transition: background-color 0.3s, transform 0.3s;
	cursor: pointer;
	margin-bottom: calc(1.4rem + 1vmin);
}

.hide-chicken-btn:hover {
	transition: background-color 0.3s, transform 0.3s;
	background-color: rgb(255, 255, 255);
	transform: rotate(5deg);
}

@keyframes moveHead {
	0% {
	}
	25% {
		transform: translate(0.5rem, 1rem) rotate(5deg);
	}
	100% {
		transform: translate(0, 0) rotate(-5deg);
	}
}

@media screen and (max-width: 900px) {
	.content-wrapper {
		width: 100%;
	}
}


/* testimonials styling end */

/* footer styling */
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem;
  width: 100%;
  background-color: #ECFAFF;
  align-items: flex-start;
}

.footer h3{
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
}